<h1>All Recipes</h1>

<div id="recipe_list">
  <% @recipes.each do |recipe| %>

    <h2>Title: <%= link_to recipe.title, "/recipes/#{recipe.id}" %></h2>
    <h4>Chef: <%= recipe.chef %></h4>
    <p class="ingredients">Ingredients: <%= recipe.ingredients %></p>
    <p class="directions">Directions: <%= recipe.directions %> </p>

  <% end %>
</div>